

.navbar{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
}

.navbar_container{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo img{
    width: 110px;
}

.navbar_right{
    display: flex;
    list-style: none;
    color: black;

}

.toggle{
    display: none;
}

.toggle{
    position: fixed;
    top: 20px;
    right: 25px;
    color: black;
    height: 50px;
    width: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

@media (max-width: 765px){
    .container{
        width: 100%;
        padding: 0 50px;
    }
    .navbar_right{
        flex-direction: column;
        width: 100%;
        background: whitesmoke;
        position: fixed;
        top: 0;
        left: 0;


    }
    .navbar_right li{
        display: block;
        padding: 20px 0;
        font-size: 12px;
    }
    .toggle{
        display: flex;
    }
    .navbar_desk{
        display: none;
    }


}