@tailwind base;
@tailwind components;
@tailwind utilities

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
  background: #ede2de;
  text-decoration: none;

}


/* ***colors********
:root{
--primaryBackground:
} */
/*
.app{
  max-width: 1024px;
  margin: auto;
} */


.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}